@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    margin: 0;
    min-height: 100vh;
  }
  
  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('https://media-cdn.tripadvisor.com/media/photo-s/17/e8/99/a8/traditional-drinks-zaezae.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(6px);
    opacity: 0.5;
    z-index: -1;
  }
  
  @media (max-width: 768px) {
    body::before {
      background-image: url('/assets/backMobile.png');
    }
  }

.flex-col-center{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#centerTitle{
    max-width: 80vw;
    font-size: 4rem;
    margin: 0 auto;
    font-family: Outfit;
    font-weight: 600;
    text-align: center;
}

#searchZone{
    margin-top: 1rem;
    width: 320px;

    border: 2px solid rgb(104, 104, 104);
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.3);

    padding: 5px;
    
    display: flex;
    flex-direction: column;
}

#searchZone div{
    width: 100%;
    
    display: flex;
}
#searchZone div *{
    width: 50%;
    background: linear-gradient(to right, white, rgb(204, 204, 204));
    border: 2px solid rgb(104, 104, 104);
    border-radius: 5px;
    margin: 3px;
}

#cardZone{
    /*border: 2px solid red;*/
    margin: 5%;
}

.card{
    width: 70vw;
    max-width: 700px;

    border: 2px solid rgb(104, 104, 104);
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.3);

    background-color: rgb(185, 185, 185);
    background: linear-gradient(to right, white, beige);

    padding: 5px;
    margin-bottom: 10px;

    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.card img{
    width: 100%;
    max-width: 300px;
    height: auto;
}

ul{
    background-color: aqua;
}