@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    margin: 0;
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
    
  }
  
  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/back.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(6px);
    opacity: 0.5;
    z-index: -1;
    pointer-events: none;
  }
  
  @media (max-width: 768px) {
    body::before {
      background-image: url('../../assets/backMobile.png');
    }
  }

.light{
    color: black;
}
.dark{
    color: #c9c9c9;
    background-color: black;
}
body.dark #searchZone div *{
    background-color: #2c2c2c;
    background: linear-gradient(120deg, #2b2b2b, #3a3a3a);
    color: #c9c9c9;
}

.light{
    color: black;
}
.dark{
    color: #c9c9c9;
    background-color: black;
}
body.dark #searchZone div *{
    background-color: #2c2c2c;
    background: linear-gradient(120deg, #2b2b2b, #3a3a3a);
    color: #c9c9c9;
}

.flex-col-center{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#centerTitle{
    max-width: 80vw;
    font-size: 4rem;
    margin: 0 auto;
    font-family: Outfit;
    font-weight: 600;
    text-align: center;
}

#searchZone{
    margin-top: 1rem;
    width: 320px;

    border: 2px solid rgb(104, 104, 104);
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.3);

    padding: 5px;
    
    display: flex;
    flex-direction: column;
}

#searchZone div{
    width: 100%;
    
    display: flex;
}
#searchZone div *{
    width: 50%;
    border: 2px solid rgb(104, 104, 104);
    border-radius: 5px;
    margin: 3px;
}

#cardZone{
    /*border: 2px solid red;*/
    margin: 5%;
}

.card{
    width: 70vw;
    max-width: 700px;

    border: 2px solid rgb(104, 104, 104);
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.3);

    background: linear-gradient(135deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.01));
    backdrop-filter: blur(10px);

    padding: 5px;
    margin-bottom: 10px;

    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.card img{
    width: 100%;
    max-width: 300px;
    height: auto;
}

/*-------------TOGGLE---------------*/

.switch {
  font-size: 13px;
  position: relative;
  display: inline-block;
  width: 5em;
  height: 2.5em;
  user-select: none;

  position: absolute;
  right: 25px;
  top: 30px;
}

/* Hide default HTML checkbox */
.switch .cb {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.toggle {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: #373737;
  border-radius: 0.1em;
  transition: 0.4s;
  text-transform: uppercase;
  font-weight: 700;
  overflow: hidden;
  box-shadow: -0.3em 0 0 0 #373737, -0.3em 0.3em 0 0 #373737,
    0.3em 0 0 0 #373737, 0.3em 0.3em 0 0 #373737, 0 0.3em 0 0 #373737;
}

.toggle > .left {
  position: absolute;
  display: flex;
  width: 50%;
  height: 88%;
  background-color: #f3f3f3;
  color: #373737;
  left: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  transform-origin: right;
  transform: rotateX(10deg);
  transform-style: preserve-3d;
  transition: all 150ms;
}

.left::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(206, 206, 206);
  transform-origin: center left;
  transform: rotateY(90deg);
}

.left::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(112, 112, 112);
  transform-origin: center bottom;
  transform: rotateX(90deg);
}

.toggle > .right {
  position: absolute;
  display: flex;
  width: 50%;
  height: 88%;
  background-color: #f3f3f3;
  color: rgb(206, 206, 206);
  right: 1px;
  bottom: 0;
  align-items: center;
  justify-content: center;
  transform-origin: left;
  transform: rotateX(10deg) rotateY(-45deg);
  transform-style: preserve-3d;
  transition: all 150ms;
}

.right::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(206, 206, 206);
  transform-origin: center right;
  transform: rotateY(-90deg);
}

.right::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(112, 112, 112);
  transform-origin: center bottom;
  transform: rotateX(90deg);
}

.switch input:checked + .toggle > .left {
  transform: rotateX(10deg) rotateY(45deg);
  color: rgb(206, 206, 206);
}

.switch input:checked + .toggle > .right {
  transform: rotateX(10deg) rotateY(0deg);
  color: #424242;
}